@charset "ISO-8859-1";
body {}

.text-info {
    margin-top: -50px;
}

.cont {
    position: absolute;
    background-color: grey;
    left: 500px;
    top: 100px;
    padding: 30px;
}

.c_login {
    font-size: 30px;
    color: brown;
    margin-left: 100px;
    /* text-align: ; */
}

.c_user {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 25px;
}

.c_sub {
    padding: 12px;
    margin-left: 100px;
    background-color: rgb(83, 83, 204);
    border-radius: 20px;
}

.c_sub:hover {
    background-color: rgb(48, 148, 48);
    color: black;
}

.c_reg {
    padding: 12px;
    background-color: rgb(83, 83, 204);
    border-radius: 20px;
    text-decoration: none;
    margin-left: 92px;
    border-color: black;
    color: black;
}
.c_reg:hover {
    background-color: rgb(48, 148, 48);
    color: black;
}
.full {
    background: linear-gradient(rgba(0, 0, 0, .3)50%, rgba(0, 0, 0, .3)-50%
    );
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(76, 175, 80, 0.3) */
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}