.c_user2 {
    width: 300px;
    height: 25px;
}

.c_register {
    font-size: 30px;
    color: brown;
    margin-left: 100px;
}

.container {
    background-color:grey;
    left: 500px;
    top: 100px;
    padding: 40px;
    position: absolute;
    left: 500px;
    top: 50px;
}

.fullbody {
    background: linear-gradient(rgba(0, 0, 0, .3)50%, rgba(0, 0, 0, .3)50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.b_reg {
    padding: 12px;
    margin-left: 100px;
    background-color: rgb(83, 83, 204);
    border-radius: 20px;
}

.b_reg:hover {
    background-color: rgb(48, 148, 48);
    color: black;
}

* {
    margin: 0;
    padding: 0;
}